.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.square {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: red;
}

/*.circle {*/
/*  left: 4000px;*/
/*  top: 500000px;*/
/*  width: 400px;*/
/*  height: 400px;*/
/*  background-color: green;*/
/*  border-radius: 50%;*/
/*}*/

.canvas {
  display: block;
  background-color: lightgray;
}
